<div class="col-1">
  <div class="row">
    <span class="titulo">Login</span>
  </div>
  <div class="row">
    <div class="login-page">
      <div class="form">
        <form class="login-form">
          <input type="text" placeholder="e-mail" />
          <input type="password" placeholder="senha" />
          <button routerLink="/home">login</button>
          <p class="message">
            Não é registrado? <a routerLink="/signup">Crie uma conta</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
