<div class="col-1">
  <div class="row">&nbsp;</div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <span class="tituloI">Este animal é uma tartaruga?</span>
  </div>
  <div class="row">
    <img src="/assets/img/tartaruga.png" class="imagem" />
  </div>

  <div class="row">
    <div class="row">
      <button mat-raised-button color="none" class="messageI">sim</button>
      <button mat-raised-button color="none" class="messageII">não</button>
    </div>

    <div class="row">
      <button mat-raised-button color="warn" class="botaoI" routerLink="/game20">
        próximo >
      </button>
    </div>
    <div class="row">
      <button mat-raised-button color="warn" class="botaoII" routerLink="/home">
        <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon> sair
      </button>
    </div>
  </div>
</div>
