<div class="col-1">
  <div class="row">
    <span class="titulo">Cadastro</span>
  </div>
  <div class="login-page">
    <div class="form">
      <form class="register-form">
        <input type="text" placeholder="nome"/>
        <input type="password" placeholder="senha"/>
        <input type="text" placeholder="email"/>
        <button routerLink="/login">Cadastrar</button>
        <p class="message">Você já é registrado(a) ? <a routerLink="/login">Faça o login</a></p>
      </form>
    </div>
  </div>
</div>


