<div class="col-1">
  <div class="row">&nbsp;</div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <span class="tituloI">Bem vindo(a) ao T'Gamer!</span>
  </div>
  <div class="row">
    <div class="col-2">
      <div class="row">
        <img
          routerLink="/game"
          src="/assets/img/game-icon-64.png"
          class="game"
        />
      </div>
      <div class="row">
        <button
          mat-raised-button
          color="none"
          class="messageI"
          routerLink="/game"
        >
          jogar
        </button>
      </div>
      <div class="row">
        <img
          routerLink="reports"
          src="/assets/img/trofeu-icon-64.png"
          class="reports"
        />
      </div>

      <div class="row">
        <button
          mat-raised-button
          color="none"
          class="messageII"
          routerLink="/reports"
        >
          conquistas
        </button>
      </div>
    </div>
    <div class="row">
      <button
        mat-raised-button
        color="warn"
        class="botaoII"
        routerLink=""
      >
        sair
      </button>
    </div>
  </div>
</div>
